@use 'sass:math';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    color: whitesmoke;
    background-color: rgb(198, 227, 231);
    overflow: hidden;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    .dot {
        height: 100rem;
        width: 100rem;
        background-color: rgb(198, 227, 231);
        border-radius: 50%;
        position: absolute;
        z-index: -1;
    }

    .dot-tuning {
        height: 100rem;
        width: 100rem;
        background-color: rgb(253, 220, 225);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        z-index: -2;
        transition-duration: 1s;
        transition-timing-function: ease;
    }
    .dot-tuning-more {
        height: 100rem;
        width: 100rem;
        background-color: rgb(236, 236, 190);
        opacity: 0.6;
        border-radius: 50%;
        position: absolute;
        z-index: -3;
        transition-duration: 1s;
        transition-timing-function: ease;
    }
    .tuner {
        width: 70rem;
        height: 100%;
        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 0.5rem dashed rgba(255, 255, 255, 0.548);
            border-radius: 10rem;
            height: 25%;
            margin-top: -5rem;
            h1 {
                font-family: "Quicksand", impact;
                font-weight: 300;
                font-size: 7rem;
                sub {
                    // font-family: "Quicksand", impact;
                    // font-weight: 300;
                    font-size: 5rem;
                }
            }
        }
        .frequency-cents{
            font-family: "Roboto", impact;
            font-weight: 300;
            font-size: 4rem;
        }
        .frequency {
            font-family: "Roboto", impact;
            font-weight: 300;
            font-size: 2rem;
        }
        .meter {
            height: 70%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding-top: 20%;
            .meter-container {
                $container-height: 20rem;
                $container-width: 30rem;
                height: $container-height;
                width: $container-width;
                position: relative;
                .stick {
                    position: absolute;
                    $stick-width: 0.5rem;
                    width: $stick-width;
                    height: 15rem;
                    left: math.div($container-width, 2) - math.div($stick-width, 2);
                    bottom: 0;
                    transform-origin: 50% 100%;
                    transition: transform;
                    transition-duration: 0.5s;
                    transition-timing-function: ease;
                    
                }
                #circle {
                    position: absolute;
                    width: 20rem;
                    height: 20rem;
                    top: 50%;
                    left: 50%;
                    border-radius: 100% 0 0 0;
                    -moz-border-radius: 100% 0 0 0;
                    -webkit-border-radius: 100% 0 0 0;
                    transform: translate(-50%, -50%) rotate(45deg);
                    border: 6px solid rgba(252, 249, 246, 0.527);
                    border-bottom: 0;
                    border-right:0;
                }
            }
            #high-text {
                color: white;
                font-size: 2.5rem;
                font-family: "Roboto";
            }
            #low-text {
                color: white;
                font-size: 2.5rem;
                font-family: "Roboto";
            }
        }
    }
}
